/*---------------------------------------------
* color
*---------------------------------------------*/
$color-base = #000


/*---------------------------------------------
* breakpoints
*---------------------------------------------*/
screen-small = 768px
screen-middle = 992px
screen-large = 1200px